{% extends 'layout.html.twig' %}
{% block title %}Credit{% endblock %}
{% block content %}
<!--CREDIT-->
    <h1>Credit</h1>
        <h3>Images</h3>
            <ul>
                <li>Aurore boréale <a href="https://pixabay.com/fr/aurore-bor%C3%A9ale-alaska-espace-1181004/" target="_blank">Link</a></li>
                <li>Montagne <a href="https://pixabay.com/fr/paysage-sc%C3%A9nique-2124756/" target="_blank">Link</a></li>
            </ul>
        <h3>Icônes</h3>
            <ul>
                <li>Facebook <div>Icons made by <a href="http://www.freepik.com" title="Freepik" target="_blank">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></li>
                <li>Instagram <div>Icons made by <a href="http://www.freepik.com" title="Freepik" target="_blank">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></li>
                <li>Twitter <div>Icons made by <a href="http://www.freepik.com" title="Freepik" target="_blank">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></li>
                <li>Amazon <div>Icons made by <a href="http://www.freepik.com" title="Freepik" target="_blank">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></li>
            </ul>
        <h3>Pattern</h3>
            <p>Les patterns ont été téléchargé sur <a href="http://www.subtlepatterns.com" target="_blank">www.subtlepatterns.com</a>.</p>
{% endblock%}