@font-face {
    font-family: 'FontAwesome';
    src: url('../lib/font-awesome/fonts/fontawesome-webfont.eot');
    src: url('../lib/font-awesome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../lib/font-awesome/fonts/fontawesome-webfont.woff') format('woff'), url('../lib/font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'), url('../lib/font-awesome/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
    padding-top:50px;
    background-image: url(../images/double_lined/double_lined.png);
}
.navbar
{
    background-color: #ECEEE9;
    border-color: #D4D6D1;
}
.chapterTitle:hover, .chapterTitle:focus {
    text-decoration: none;
}
.chapterNext:hover, .chapterPrev:hover, .chapterNext:focus, .chapterPrev:focus
{
    text-decoration: none;
}
.chapterNext, .chapterPrev
{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 20px;

}


.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

.jumbotron
{
    background-image: url(../images/aurores1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron.chapter
{
    background-image: url(../images/landscape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header
{
    color : white !important;
}
.snippet 
{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 1.8;
    
}
.snippet + p
{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 17px !important;
    line-height: 0.8;
}
.info
{
    
    height:100%;
    box-shadow: 1px 1px 5px grey;
    background-color: white;
    margin-top: 20px;
}
.chapter-index
{
    box-shadow: 3px 3px 10px grey;
    margin: 20px;
    background-color: white;
    width:60%;
}
.form-comment
{
    border:1px solid black;
    background-color: #CED5DF;
    padding: 10px;
}
.form-control
{
   margin:7px;
}
.btn-primary
{
    margin-left: 8px;
}
.commentaires
{
    background-color:#337ab7;
    box-shadow: 3px 3px 10px grey;
    margin-top:50px;
    padding:10px;
    text-align: center;
}
.title
{
    font-family: 'Josefin Slab', serif;
    font-size:30px;
}
.only-comments
{
    border:1px solid black;
    height:10%;
    padding: 10px;
    margin:20px;
    width:100%;
    font-family: 'Open Sans', sans-serif !important;
    font-size:15px;
    background-color: #AEB9CB;
    border-left: 10px solid grey;
}
.comments-right{
    text-align: right;
}
#errorPanel {

    padding-top: 30px;
    padding-bottom: 10px;

}
.info-chapter
{
    background-image:url(../images/double_lined/linen.png);
    display: block;
    font-family: 'Open Sans', sans-serif;
    margin-top:30px;
}
.info-chapter>a:hover, .info-chapter>a:focus
{
   text-decoration: none;
}
.info-chapter>a
{
    font-size:20px;
}
.chapterInfo
{
    float: right;
}
.social
{
    display: inline;
    margin: 10px;
}
.footer
{
    border-top: 1px solid #ccc;
    padding-top:10px;
    text-align: center;
}
.next-link
{
    float: right;
}
.chapter-title
{
    border-bottom: 1px solid black;
}